<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>main-sidebar</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Left side column. contains the logo and sidebar -->
    <!--左侧边栏，包含logo和侧边栏-->
    <aside class="main-sidebar" th:fragment="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <!--用户面板-->
            <div class="user-panel">
                <!--用户头像-->
                <div class="pull-left image">
                    <img src="../../static/dist/img/user2-160x160.jpg"
                         th:src="@{/static/dist/img/user2-160x160.jpg}"
                         class="img-circle" alt="User Image">
                </div>

                <!--用户信息-->
                <div class="pull-left info">
                    <p class="text_username">用户</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>


            <!-- Sidebar Menu -->
            <!--侧边栏菜单-->
            <ul class="sidebar-menu" id="sidebar-menu">
                <!--菜单头部-->
                <li class="header">菜单</li>

                <!-- Optionally, you can add icons to the links -->
                <!--<li id="siderbar-li-0" class="active">-->
                    <!--<a data-addtab="home">-->
                        <!--<i class="fa fa-dashboard"></i>-->
                        <!--<span>首页</span>-->
                    <!--</a>-->
                <!--</li>-->

            </ul>
        </section>


    </aside>

</div>

</body>
</html>
