.toolbar-icon {
    cursor: pointer;
    font-size: large;
    padding-top: 6px;
}

.sidebar-menu-li{
    cursor: pointer;
}

/*ul.ztree {*/
/*margin-top: 10px;*/
/*background: #f0f6e4;*/
/*width: 220px;*/
/*height: 200px;*/
/*overflow-y: scroll;*/
/*overflow-x: auto;*/
/*}*/

.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
    *vertical-align: middle
}

.table-cell-textarea {
    word-break: break-all;
    word-wrap: break-word;
}