<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjhc.mybatis.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.zjhc.mybatis.bean.Menu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="parent_ids" jdbcType="VARCHAR" property="parentIds"/>
        <result column="lvl" jdbcType="SMALLINT" property="lvl"/>
        <result column="sorting" jdbcType="INTEGER" property="sorting"/>
        <result column="available" jdbcType="BIT" property="available"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, name,type, url, parent_id, parent_ids, lvl, available,sorting
    </sql>
    <sql id="Base_Column_List_f">
        <!--
          WARNING - @mbg.generated
        -->
        f.id, f.name,f.type, f.url, f.parent_id, f.parent_ids, f.lvl, f.available,f.sorting
    </sql>

    <select id="findAllMenus" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM aweb_menu
        WHERE available=1
        ORDER BY parent_ids ASC, sorting desc
    </select>

    <select id="findMenus" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List_f"/>
        FROM
        (
        SELECT
        <include refid="Base_Column_List_f"/>FROM
        aweb_user a,
        aweb_user_role b,
        aweb_role c,
        aweb_role_resource d,
        aweb_resource e,
        aweb_menu f
        WHERE
        a.id = b.user_id
        AND c.id = b.role_id
        AND c.id = d.role_id
        AND e.id = d.resource_id
        AND e.type = 'menu'
        AND e.alls = 0
        AND f.id = e.resource_id
        And f.available=1
        AND a.username = #{username}
        UNION
        SELECT
        <include refid="Base_Column_List_f"/>FROM
        aweb_resource e,
        aweb_menu f
        WHERE
        f.id = e.
        resource_id
        AND e.type = 'menu'
        And f.available=1
        AND e.alls = 1
        ) f
        ORDER BY parent_ids ASC, sorting desc
    </select>

    <delete id="deleteAllKids">
        DELETE
        FROM
            aweb_menu
        WHERE
	      parent_ids LIKE #{paths}
    </delete>


</mapper>