<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjhc.mybatis.mapper.OrganizationMapper">
    <resultMap id="BaseResultMap" type="com.zjhc.mybatis.bean.Organization">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="data" jdbcType="VARCHAR" property="data"/>
        <result column="sorting" jdbcType="INTEGER" property="sorting"/>
        <result column="lvl" jdbcType="INTEGER" property="lvl"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="parent_ids" jdbcType="VARCHAR" property="parentIds"/>
        <result column="available" jdbcType="BIT" property="available"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, name, parent_id, parent_ids, available,data,sorting,remark,lvl
    </sql>


    <select id="listOrganizationByParentId" resultMap="BaseResultMap">
       select name,data from aweb_organization a where a.parent_id = #{parentId}
    </select>

    <select id="listByLvl" resultMap="BaseResultMap">
      <![CDATA[
        SELECT
            *
        FROM
            aweb_organization a
        WHERE
            a.lvl <= #{lvl}
        ORDER BY
            lvl ASC,
            a.sorting DESC
       ]]>
    </select>

    <select id="listNodesByPath" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            aweb_organization
        WHERE
            parent_ids LIKE #{path}
        ORDER BY
            lvl ASC,
            sorting DESC
    </select>

    <delete id="deleteAllKids">
        delete
        from aweb_organization
        where parent_ids like #{path}
    </delete>
</mapper>