<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjhc.mybatis.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.zjhc.mybatis.bean.Resource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="resource_id" jdbcType="BIGINT" property="resourceId"/>
        <result column="alls" jdbcType="BIT" property="alls"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, name, type, resource_id,alls
    </sql>

    <select id="getResourceByType" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM aweb_resource
        WHERE type = #{type}
    </select>
    <select id="countResourceByType" resultType="int">
        SELECT
        COUNT(1)
        FROM aweb_resource
        WHERE type = #{type}
    </select>

    <select id="countResource" resultType="int">
        SELECT
        COUNT(1)
        FROM aweb_resource
    </select>

    <select id="getResourceByTypeAndId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM aweb_resource
        WHERE type = #{type}
        AND resource_id=#{resourceId}
    </select>

    <delete id="deleteResourceByTypeAndId">
        DELETE
        FROM aweb_resource
        WHERE type = #{type}
        AND resource_id=#{resourceId}
    </delete>

    <delete id="deleteResourceKids">
        DELETE a
        FROM
        aweb_resource a
        WHERE a.type = #{type}
        AND a.resource_id in(
            select id
            from
            <if test="type=='menu'.toString()">aweb_menu b</if>
            <if test="type=='permission'.toString()">aweb_permission b</if>
            where b.parent_ids LIKE #{paths}
        )
    </delete>

    <update id="updateAllsByIds">
        UPDATE aweb_resource
        SET alls = #{alls}
        Where id in
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>


    <select id="getRoleByResourceId" resultType="String">
        SELECT a.name
          FROM aweb_role a, aweb_role_resource b, aweb_resource c
         WHERE a.id = b.role_id
           AND b.resource_id = c.id
           AND c.type = #{type}
           AND c.resource_id = #{resourceId}
    </select>


</mapper>